/node_modules
.env
data_generator/node_modules
tsac19_dare.ppk



webapp//dist
webapp//tmp
webapp//out-tsc

# dependencies
webapp/node_modules

# IDE - VSCode
webapp/.vscode/*
webapp/!.vscode/settings.json
webapp/!.vscode/tasks.json
webapp/!.vscode/launch.json
webapp/!.vscode/extensions.json

# misc
webapp/.sass-cache
webapp/connect.lock
webapp/coverage
webapp/libpeerconnection.log
webapp/npm-debug.log
webapp/yarn-error.log
webapp/testem.log
webapp//typings

# System Files
webapp/.DS_Store
webapp/Thumbs.db
