<h1 class="text-center pt-1">MondoClean</h1>
<div class="container" *ngIf="nastri?.length">
    <div class="row" *ngFor="let a of sezioni">
      <div class="col-lg-1 section-id">
        Sez. {{ a.id}}
      </div>
      <div id="{{nastro.id}}"class="col-lg-1" *ngFor="let nastro of getNastriFromSezione(a.id)">
          #{{nastro.id}}<br>
          <span id="consumption-{{nastro.id}}">- W</span>&nbsp;
          <span id="speed-{{nastro.id}}">- m/s</span>
      </div>
    </div>
</div>
<router-outlet></router-outlet>